<li class="nav-item border-bottom border-secondary border-5 mt-4">
  <a href="#" class="nav-link link-dark fw-normal my-3 px-5" aria-current="page">
    <%= image_tag('icon-tdb', class: "col-2 me-3") %>
    <span><%= t(".dashboard") %></span>
  </a>
</li>
<li>
  <a href="#" class="nav-link link-dark fw-light my-3 px-5">
    <%= image_tag('icon', class: "col-2 me-3") %>
    <span><%= t(".profile") %></span>
  </a>
</li>
<li>
  <a href="#" class="nav-link link-dark fw-light my-3 px-5">
    <%= image_tag('icon-docs', class: "col-2 me-3") %>
    <span><%= t(".supporting_documents") %></span>
  </a>
</li>
<li>
  <a href="#" class="nav-link link-dark fw-light my-3 px-5">
    <%= image_tag("icon-eligibilty", class: "col-2 me-3") %>
    <span class="col-10"><%= t(".eligibility") %></span>
  </a>
</li>
<li>
  <a href="#" class="nav-link link-dark fw-light my-3 px-5">
    <%= image_tag("icon-investissements", class: "col-2 me-3") %>
    <span><%= t(".investments") %></span>
  </a>
</li>
<li>
  <a href="#" class="nav-link link-dark fw-light my-3 px-5">
    <%= image_tag("icon-wallet", class: "col-2 me-3") %>
    <span><%= t(".wallet") %></span>
  </a>
</li>
<li>
  <a href="#" class="nav-link link-dark fw-light my-3 px-5">
    <%= image_tag("icon-actualite", class: "col-2 me-3") %>
    <span><%= t(".news") %></span>
  </a>
</li>
<li>
  <%= link_to(
    destroy_user_session_path,
    method: :delete,
    class: "nav-link link-dark fw-light my-3 px-5"
  ) do %>
    <%= image_tag("icon-logout", class: "col-2 me-3") %>
    <span><%= t(".disconnect") %></span>
  <% end %>
</li>
