  <li class="nav-item border-bottom border-secondary border-5 mt-4">
    <a href="#" class="nav-link link-dark fw-normal my-3 px-5" aria-current="page">
      <%= svg_tag('icon-tdb', class: "col-2 me-3") %>
      <span>Tableau de bord</span>
    </a>
  </li>
  <li>
    <a href="#" class="nav-link link-dark fw-light my-3 px-5">
      <%= svg_tag('icon', class: "col-2 me-3") %>
      <span>Profil</span>
    </a>
  </li>
  <li>
    <a href="#" class="nav-link link-dark fw-light my-3 px-5">
      <%= svg_tag('icon-docs', class: "col-2 me-3") %>
      <span>Pièces justificatives</span>
    </a>
  </li>
  <li>
    <a href="#" class="nav-link link-dark fw-light my-3 px-5">
     <%= svg_tag("icon-eligibilty", class: "col-2 me-3") %>
      <span class="col-10">Eligibilité</span>
    </a>
  </li>
  <li>
    <a href="#" class="nav-link link-dark fw-light my-3 px-5">
      <%= svg_tag("icon-investissements", class: "col-2 me-3") %>
      <span>Investissements</span>
    </a>
  </li>
  <li>
    <a href="#" class="nav-link link-dark fw-light my-3 px-5">
      <%= svg_tag("icon-wallet", class: "col-2 me-3") %>
      <span>Porte-monnaie</span>
    </a>
  </li>
  <li>
    <a href="#" class="nav-link link-dark fw-light my-3 px-5">
      <%= svg_tag("icon-actualite", class: "col-2 me-3") %>
      <span>Actualités</span>
    </a>
  </li>
  <li>
    <%= link_to destroy_user_session_path,
        method: :delete,
        class: "nav-link link-dark fw-light my-3 px-5" do %>
      <%= svg_tag("icon-logout", class: "col-2 me-3") %>
      <span>Déconnexion</span>
    <% end %>
  </li>
