<ul class="sidebar nav nav-pills flex-column col-2 shadow d-none d-lg-flex position-fixed bg-white">
  <li class="nav-item border-bottom border-secondary border-5 w-100">
    <a href="#" class="nav-link link-dark fw-normal my-3 ps-4 d-flex flex-lg-column flex-xl-row align-items-center justify-content-center" aria-current="page">
      <%= show_svg('icon-tdb', class: "col-3 mb-lg-2 mb-xl-0") %>
      <span class="col">Tableau de bord</span>
    </a>
  </li>
  <li>
    <a href="#" class="nav-link link-dark fw-light my-3 ps-4 d-flex flex-lg-column flex-xl-row align-items-center justify-content-center">
      <%= show_svg('icon', class: "col-3 mb-lg-2 mb-xl-0") %>
      <span class="col">Profil</span>
    </a>
  </li>
  <li class="w-100">
    <a href="#" class="nav-link link-dark fw-light my-3 ps-4 d-flex flex-lg-column flex-xl-row align-items-center justify-content-center">
      <%= show_svg('icon-docs', class: "col-3 mb-lg-2 mb-xl-0") %>
      <span class="col">Pièces justificatives</span>
    </a>
  </li>
  <li class="w-100">
    <a href="#" class="nav-link link-dark fw-light my-3 ps-4 d-flex flex-lg-column flex-xl-row align-items-center justify-content-center">
      <%= show_svg("icon-eligibilty", class: "col-3 mb-lg-2 mb-xl-0") %>
      <span class="col">Eligibilité</span>
    </a>
  </li>
  <li class="w-100">
    <a href="#" class="nav-link link-dark fw-light my-3 ps-4 d-flex flex-lg-column flex-xl-row align-items-center justify-content-center">
      <%= show_svg("icon-investissements", class: "col-3 mb-lg-2 mb-xl-0") %>
      <span class="col">Investissements</span>
    </a>
  </li>
  <li class="w-100">
    <a href="#" class="nav-link link-dark fw-light my-3 ps-4 d-flex flex-lg-column flex-xl-row align-items-center justify-content-center">
      <%= show_svg("icon-wallet", class: "col-3 mb-lg-2 mb-xl-0") %>
      <span class="col">Porte-monnaie</span>
    </a>
  </li>
  <li class="w-100">
    <a href="#" class="nav-link link-dark fw-light my-3 ps-4 d-flex flex-lg-column flex-xl-row align-items-center justify-content-center">
      <%= show_svg("icon-actualite", class: "col-3 mb-lg-2 mb-xl-0") %>
      <span class="col">Actualités</span>
    </a>
  </li>
  <li class="w-100">
    <%= link_to destroy_user_session_path,
        method: :delete,
        class: "nav-link link-dark fw-light my-3 ps-4 d-flex flex-lg-column flex-xl-row align-items-center justify-content-center" do %>
      <%= show_svg("icon-logout", class: "col-3 mb-lg-2 mb-xl-0") %>
      <span class="col">Déconnexion</span>
    <% end %>
  </li>
</ul>
