<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Titre du site</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse show" id="navbarColor02" style="">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Accueil
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Projets", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Tableau de bord", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Inscription", new_user_registration_path, class: "nav-link" %>
        </li>
        <% end %>
    </div>
  </div>
</nav>
