<section class="table-responsive mb-5">
  <table class="table table-striped table-borderless">
    <thead>
      <tr>
        <th class="text-start ps-0 pb-2">Projet</th>
        <th class="text-center pb-2">Investisseurs</th>
        <th class="text-center pb-2">Montant</th>
        <th class="text-center pb-2">Date d'émission</th>
        <th class="text-center pb-2">Payée ?</th>
        <th class="text-center pb-2">Signée ?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <th class="border-end border-start">Koko Mayo</th>
        <td class="text-center border-end border-start">15,00 €</td>
        <td class="text-center border-end border-start p-0">04/12/2022</td>
        <td class="text-center border-end border-start"><%= svg_tag("check", width: "25px")%></td>
        <td class="text-center border-end border-start"><%= svg_tag("check", width: "25px")%></td>
      </tr>
      <tr>
        <td>Jacob</td>
        <th class="border-end border-start">Koko Mayo</th>
        <td class="text-center border-end border-start">25,00 €</td>
        <td class="text-center border-end border-start">04/12/2022</td>
        <td class="text-center border-end border-start"><%= svg_tag("check", width: "25px")%></td>
        <td class="text-center border-end border-start"><%= svg_tag("check", width: "25px")%></td>
      </tr>
      <tr>
        <td>Larry</td>
        <th class="border-end border-start">Koko Mayo</th>
        <td class="text-center border-end border-start">25,00 €</td>
        <td class="text-center border-end border-start">04/12/2022</td>
        <td class="text-center border-end border-start"><%= svg_tag("check", width: "25px")%></td>
        <td class="text-center border-end border-start"><%= svg_tag("check", width: "25px")%></td>
      </tr>
    </tbody>
  </table>
</section>
