<!DOCTYPE html>
<html>
  <head>
    <title>FormationFront</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield(:javascript) %>
  </head>
  <body>
    <%= render "partials/navbar" %>
    <main class="d-flex">
      <%= render "partials/sidebar" %>
      <section class="mt-5 d-flex flex-column container">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
