<!DOCTYPE html>
<html>
  <head>
    <title>FormationFront</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "partials/navbar"%>
    <section class="d-flex flex-row">
      <%= render "partials/sidebar"%>
      <main class="px-5 mx-5 mt-5 w-100">
        <%= yield %>
      </main>
    </section>
  </body>
</html>
